*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# Trivy reports
trivy-reports/
trivy-docker-reports/

# State files
trivy-state/
trivy-docker-state/

# Logs
*.log

# Temporary
*.tmp
*.bak

# SSH keys
*.pem
*.key

# Linux
.DS_Store
